cursor: pointer;
  
  &:before {
    content: "FULL ";
    color: $heart;
  }
}

.battery-low {
  color: $heart;
  
  &:before {
    content: "LOW ";
    color: $heart;
  }
}

/* Separator */
.separator {
  color: $disabled;
  margin: 0 1px;
}